.page {
    margin: auto;
    padding: 0;
    color: #FFFFFF;
    min-width: 320;
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
  }

  @media screen and (max-width: 1281px) {  
    .page { 
        max-width: 1184px;
     }
} 
