@import "./__menu-languages/header__menu-languages.css";
@import "./__link/header__link.css";


.header {
    margin: 28px 48px 56px 48px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFFFFF;
    max-width: 1184px;
    align-self: center;
}

@media screen and (min-width: 1440px) {  
  .header { 
    margin: 28px calc((100% - 1184px)/2) 56px calc((100% - 1184px)/2);
  }
} 

@media screen and (max-width: 1024px) {  
    .header { 
      margin: 28px 48px 48px 48px;
    }
 } 

 @media screen and (max-width: 768px) {  
    .header { 
      margin: 28px 24px 48px 24px;
    }
 } 

 @media screen and (max-width: 320px) {  
  .header { 
    margin: 16px 16px 48px 16px;
  }
} 