@import "./__menu/footer__menu.css";
@import "./__link/footer__link.css";
@import "./__author/footer__author.css";

.footer {
    margin: 0;
    padding: 0 48px 24px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    min-width: 320;
    max-width: 1184px;
}


@media screen and (max-width: 767px) {  
    .footer { 
       padding: 0 24px 24px 24px;
       flex-direction: column;
       align-items: flex-start;
    }
 } 

 @media screen and (max-width: 320px) {  
    .footer { 
       padding: 0 16px 24px 16px;
    }
 } 

