@import "./__link/card__link.css";
@import "./__url-heading/card__url-heading.css";
@import "./__website/card__website.css";
@import "./__image/card__image.css";
@import "./__description/card__description.css";
@import "./__paragraph/card__paragraph.css";

  .card {
     margin: 0 148px 80px 148px;
     padding: 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: max-content 1fr;
     column-gap: 40px;
     row-gap: 48px;
     max-width: 1184px;
  }

  .card:last-child {
     margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {  
   .card { 
      margin: 0 48px 80px 48px;
      column-gap: 32px;
    }
} 

@media screen and (max-width: 768px) {  
   .card { 
      margin: 0 24px 73px 24px;
      column-gap: 28px;
    }
} 

@media screen and (max-width: 767px) {  
   .card { 
      margin: 0 0 49px 0;
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      row-gap: 32px;
      column-gap: 0;
    }
} 
